[submodule "vivian_lee_cclab2016"]
	path = vivian_lee_cclab2016
	url = https://github.com/thevivs/vivian_lee_cclab2016
[submodule "Assignments"]
	path = Assignments
	url = https://github.com/vishaalravikumar/Assignments
[submodule "frannieXiao_CClab2016"]
	path = frannieXiao_CClab2016
	url = https://github.com/frannieyy/frannieXiao_CClab2016
[submodule "krisli_ccLab2016"]
	path = krisli_ccLab2016
	url = https://github.com/krisliqc/krisli_ccLab2016
[submodule "Brandon_Palmer_CCLab2016"]
	path = Brandon_Palmer_CCLab2016
	url = https://github.com/brandonpalmer111b/Brandon_Palmer_CCLab2016
[submodule "Aim_CClab2016"]
	path = Aim_CClab2016
	url = https://github.com/Pornsimad11/Aim_CClab2016
[submodule "Hsuan_Lin_cclab2016"]
	path = Hsuan_Lin_cclab2016
	url = https://github.com/linh5942/Hsuan_Lin_cclab2016